.style-question {
  background-color: #087f5b;
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.question-text-field {
  height: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
  color: #495057;
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 5px;
  border-radius: 5px;
}

.answer-container:last-of-type {
  padding-bottom: 10px;
}

.add-answer-button {
  background-color: #087f5b;
  width: 100px;
  border-radius: 5px;
  border: none;
  margin: 15px;
  padding: 5px;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.add-answer-button:hover {
  background-color: #20c997;
  color: #343a40;
}

.add-answer-button:active {
  background-color: #20c997;
  color: #343a40;
  border: 2px solid #343a40;
}
