.new-quiz-button {
  font-size: 20px;
  font-style: italic;
  padding: 25px;
  border: none;
  background-color: rgb(184, 185, 185);
  color: rgb(44, 117, 84);
}

.new-quiz-button:hover {
  border: none;
  background-color: rgb(184, 185, 185);
  text-decoration: underline;
  color: rgb(44, 117, 84);
  cursor: pointer;
}
