.style-answers {
  background-color: #ced4da;
  display: flex;
  padding: 10px;
  justify-content: left;
  font-size: 16px;
  color: black;
}

.answer-text-field {
  height: 10px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: #495057;
  border: 1px solid #495057;
  font-size: 14px;
}
