.style-answers {
  background-color: rgb(184, 185, 185);
  display: flex;
  padding: 10px;
  justify-content: left;
  font-size: 16px;
  color: black;
}

.answer-text-field {
  height: 10px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: rgb(78, 76, 76);
  border: 1px solid rgb(78, 76, 76);
  font-size: 14px;
}
