.style-answers {
  background-color: #ced4da;
  display: flex;
  padding: 10px;
  justify-content: left;
  font-size: 16px;
  color: #343a40;
}

.answer-text-field {
  height: 10px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: #343a40;
  border: 1px solid #343a40;
  font-size: 14px;
}

label {
  font-family: sans-serif;
  font-size: 20px;
  color: #343a40;
}

input[type="checkbox"] {
  width: 18px;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  /* opacity: 0; */
  accent-color: #087f5b;
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
}
