.footer {
  position: fixed;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 117, 84);
  color: white;
}
