.quiz-button {
  background-color: rgb(44, 117, 84);
  border-radius: 5px;
  border: none;
  padding: 10px;
  /* margin: 25px; */
  color: white;
  border: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.quiz-button:hover {
  background-color: rgb(68, 162, 119);
  color: black;
}

.quiz-button:active {
  background-color: rgb(68, 162, 119);
  color: black;
  border: 2px solid black;
}
